:root {
    --main-text-color: #212121;
    --other-text-color: #757575;
    --accent-color: #2196f3;
    --background-footer: #2f303a;
    --background-color-persons-section: #f5f4fa;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-filter: #f5f4fa;
    --contacts-text-color-in-footer: rgba(255, 255, 255, 0.6);
    --border-bottom-color: #ececec;
    --main-button-active: #188CE8;
    --persons-icons: #AFB1B8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

