.persons {
    background-color: var(--background-color-persons-section);
}

.persons__item {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    transition: box-shadow var(--transition);

    &:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        }
        
    @media screen and (min-width:768px) {
            width: calc((100% - 30px) / 2);
     }
    @media screen and (min-width:1200px){
        width: calc((100% - 90px) / 4);
     }
        
     } 

.works__title,
.persons__title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width:1200px) {
        font-size: 36px;
    }

    @media screen and (min-width:320px) and (max-width:1199px) {
             margin-bottom: 30px;
            }
        }

.persons__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.persons__card {
    padding-top: 33px;
    padding-bottom: 32px;
}

.persons__name {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.persons__text {
    margin-bottom: 16px;
    text-align: center;

    color: var(--other-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.persons__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.persons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--persons-icons);

    transition: background-color var(--transition);


    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}


.persons__link .persons__icon {
    fill: currentColor;
    transition: fill var(--transition);
}

.persons__link:hover .persons__icon,
.persons__link:focus .persons__icon {
    fill: #ffffff;
}