
.subscription__heading {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.subscription__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscription__item {
    background-color: #43444D;
    border-radius: 50%;
}

.subscription__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--transition);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.subscription-form {
    @media screen and (min-width:480px) {
    height: 86px;
    width: calc(100% - 30px);
    }
    
   @media screen and (min-width:1200px){
    position: relative;
    width: 570px;
    height: 50px;
    margin-left: 93px;

   }
}

.subscription-form__heading {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.subscription-form__email {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;

    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--contacts-text-color-in-footer);

    @media screen and (min-width:480px){
        width: 450px;
    }
    @media screen and (min-width:1200px) {
            width: 358px;
            margin-bottom: 0px;
        }
}

.subscription-form__button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;
   
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    vertical-align: middle;

    color: var(--white-color);
    background-color: var(--accent-color);
    border: transparent;
    border-radius: 4px;

    cursor: pointer;

    @media screen and (min-width:1200px) {
        position: absolute;
        right: 0;
    }
}

.subscription-form__icon {
    margin-left: 10px;
    vertical-align: middle;
}